* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(213, 240, 211);
}



.navbar {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: flex;
    align-items: center; 
    height:100px;
    background-color: rgb(265, 265, 265);
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.logo {
    color: black;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    justify-content: right;
    align-items:end;
    list-style-type: none;
    gap: 1rem;

}

ul a {
    text-decoration: none;
    
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}