* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}



.navbar {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: flex;
    align-items: center; 
    height:100px;
    background-color: #f1f4f1;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.logo {
    color: black;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    justify-content: right;
    align-items:end;
    list-style-type: none;
    gap: 1rem;

}

ul a {
    text-decoration: none;
    color: #000;
    background: rgba(red, green, blue, alpha);
    
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    
}

#hero {
    background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero-background-image.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.image-overlay {

}

h1 {
    color: rgb(228, 197, 21);
    font-family: Anton, Montserrat, League Spartan;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 10%;
    padding-left: 10%;
}


