*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

:root{
    --dark-background-color:  #1f1a1a;
    --text-shadow: #00f5ff;
    --text-color: rgb(228, 197, 21);
    --animationtiming: 200ms ease-in-out;
}

body {
    font-family: Arial, Helvetica, sans-serif;
        background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero-background-image.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    
}
#hero {
    flex: 1;
}
.logo {
    color: var(--text-color);
    font-size: 2rem;
}
.logo-span {
    color: var(--text-shadow);
}
.logo:hover {
      color: var(--text-shadow);
  text-shadow:
    0 0 5px #00f5ff,
    0 0 10px #00f5ff,
    0 0 20px #00f5ff;
}
.navdiv {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {
    font-family: Arial, sans-serif;
    color: rgb(228, 197, 21);
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 75px;
    width: 100%;
    background: #1f1a1a;
}

.nav-list {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  display: flex;
  align-items: center;
}
.nav-list a:hover {
  color: var(--text-shadow);
  text-shadow:
    0 0 5px var(--text-shadow),
    0 0 10px var(--text-shadow),
    0 0 20px var(--text-shadow);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

 .off-screen-menu{
    background: var(--dark-background-color);
    list-style-type: none;
    width: 100%;
    max-width: 120px;
    position: fixed;
    top: 4rem;
    right: 120px;
    display: none;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    font-size: 1.3rem;
    transition: 0.3s ease;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5%;
    text-decoration: none;
}

.off-screen-menu a {
  color: var(--text-color);
  list-style: none;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.off-screen-menu a:hover {
    color: var(--text-shadow);
    text-shadow: 
    0 0 5px var(--text-shadow),
    0 0 10px var(--text-shadow),
    0 0 20px var(--text-shadow);
    text-decoration: underline;
}

.ham-menu {

    /* height: 50px;
    width: 50px;
    /* margin-left: auto;  As the position is fixed we should not use the margin left: auto. instead, we can just anchor it directly to the left right side */
    /* position: absolute; */
    /* top: 1vh; */
    /* right: 1.2rem; */
    /* z-index: 999; */
    
    width: 30px;
    height: 24px;
    position: relative;
    cursor: pointer;

}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    border-bottom: 1rem ;
    transition: transform 0.3s ease-in-out;
    display: none; 
    /* transform-origin: center; */

}

.ham-menu:hover span {
    cursor: pointer;
    color: var(--text-shadow);
    box-shadow:
    0 0 5px var(--text-shadow),
    0 0 10px var(--text-shadow),
    0 0 20px var(--text-shadow);
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

/* ul .active span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

ul .active span:nth-child(2){
    opacity: 0;
}

ul .active span:nth-child(3){
    bottom:auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
} */

h1 {
    color: var(--text-color);
    font-family: "Sekuya", system-ui, Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding-top: 5%;
    margin-bottom: 2rem;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 130px;
}

.pageHero-subHeading {
    color: var(--text-color);
    font-family: Arial, system-ui, Montserrat;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 15%;
    margin-right: 130px;    
}

.btn {
    background: #1f1a1a;
    color: var(--text-color);
    margin-left: 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 8%;
    white-space: nowrap;
    line-height: 1;
    padding: 0.7rem 0.8rem;
}

.btn:hover {
    color: var(--text-shadow);
    text-shadow:
    0 0 5px var(--text-shadow),
    0 0 10px var(--text-shadow),
    0 0 20px var(--text-shadow);
    cursor: pointer;
    text-decoration: underline;
}

footer {
    background: transparent;
    width: 100vw;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 0.8rem;
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer ul li a {
    color: var(--text-shadow);
    font-size: 1.5rem;
}

footer ul li a:hover {
    text-shadow: 
    0 0 5px var(--text-color),
    0 0 10px var(--text-color),
    0 0 20px var(--text-color);
    transition: color 0.3s ease, text-shadow 0.4s ease;
}

.rights {
    color: #fff;
}

.about-page {
    background-image: url(../images/hero-background-image.jpg);
  
    color: var(--text-color);
}

.about {
    margin-top: 3rem;
    margin-left: 15%;
}

.heading-h2 {
    font-family: "Sekuya", system-ui, Montserrat;
    line-height: 1.2;
    font-size: larger;
}


/* mobile view */
@media all and (max-width: 768px){
    .off-screen-menu.active {
    top: 11%;
    right:0;
    display: flex;
    opacity: 0.5;

}

.navbar {
    padding-left: 3rem;
    padding-right: 1rem;
} 
.nav-list {
    display: none;
}  

.ham-menu span {
    display: flex;
}

.heading-one {
    font-size: 2rem;
}



}
